body {
  font-size: 15px;
  line-height: 1.4;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
p, .p {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.hLink {
  font-size: .8em;
}
figure {
  margin: 0 0;
  padding: 0 0;
}
figcaption {
  font-style: italic;
  margin: 10px 10px;
  font-size: .8em;
}
.subheadline {
  font-size: .8em;
  font-style: italic;
  color: #000;
}
.icon {
  background-image: url('/images/sprite.png');
  background-position: 0 0;
  display: block;
}
.icon.twitter {
  height: 51px;
  width: 51px;
  background-position: 0 0;
}
.icon.tumblr {
  height: 52px;
  width: 52px;
  background-position: 0 -54px;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.content.extFull {
  width: 90%;
  padding: 2% 5%;
  max-width: 100%;
}
.specialBox {
  background-color: #cede81;
  border-top: 15px solid #6A7826;
}
.frame {
  background-color: #000;
  border: 15px solid #fff;
  padding: 3%;
}
@media only screen and (min-width: 400px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }
}
@media only screen and (min-width: 800px) {
  body {
    font-size: 20px;
    line-height: 1.5;
  }
}
