.footer {
  background-color: #333;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px 4px #bc8b2c;
  -webkit-box-shadow: 0 0 10px 4px #bc8b2c;
  -o-box-shadow: 0 0 10px 4px #bc8b2c;
  box-shadow: 0 0 10px 4px #bc8b2c;
}
